* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a);
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: #020617;
  width: 100%;
  max-width: 30rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-top: 80px;
  border-radius: 24px;
  box-shadow: 0 0 40px rgba(34, 211, 238, 0.15);
  text-align: center;
  gap: 3.5rem;
}

.login-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.login-sec input {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  padding: 20px;
  border-radius: 20px;
  border: none;
  background: #0f172a;
  color: #e5e7eb;
  font-size: 15px;
}

.login-sec input::placeholder {
  color: #64718b;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texts h2 {
  font-size: 2.15rem;
}

.texts p {
  font-size: 1.15rem;
}

.login-sec a {
  margin-left: 12rem;
  margin-top: -13px;
  color: #3961c0;
  text-decoration: none;
  text-decoration: underline;
}

.loginBtn {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  padding: 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  background: #3961c0;
  color: #e5e7eb;
  cursor: pointer;
}

.signup span {
  color: #e5e7eb;
}

.signup a {
  text-decoration: none;
  color: #3961c0;
  text-decoration: underline;
}
